.project-list {
  padding: 5rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-list-title {
  font-size: 6.5rem;
  font-weight: 600;
  padding-bottom: 4rem;
}

.project-list-title span {
  color: rgb(0, 207, 93);
}

.project-list-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10rem;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 15.5em) {
  /*250px*/
  .project-list {
    padding: 1rem;
  }

  .project-list-title {
    font-size: 4.5rem;
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 20em) {
  /*320px*/
  .project-list {
    padding: 3rem;
  }
  .project-list-title {
    font-size: 6rem;
  }
}
