.about-section {
  background-color: #000;
  padding-bottom: 5rem;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  margin-top: 5rem;
}

#reactsymbol {
  animation: symbol 12s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes symbol {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about-headline {
  font-size: 7rem;
  display: flex;
  justify-content: left;
  padding: 6rem 10rem 0rem 10rem;
}

.about-headline span {
  color: rgb(0, 207, 93);
}

.about-right {
  flex: 1;
  padding-right: 3rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-card {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  margin-top: 2rem;
}

.about-desc {
  font-weight: 200;
  font-size: 2.2rem;
  width: 75vw;
  line-height: 4rem;
  color: #c0c0c0;
  text-align: start;
  padding: 0 0 10rem 2rem;
}

.about-desc span {
  transition: color 0.3s;
  font-weight: 500;
}

/*MEDIA QUERIES*/

@media screen and (min-width: 15.5em) {
  /*250px*/
  .about-headline {
    font-size: 4rem;
    padding: 4rem 2rem 0rem 2rem;
    justify-content: center;
  }
  .about-container {
    flex-direction: column;
  }
  .about-card {
    width: 100%;
    padding-left: 0;
  }
  .about-card svg {
    height: 45vh;
  }
  .about-desc {
    font-size: 1.5rem;
    line-height: 2.2rem;
    padding: 0;
  }
  .about-right {
    padding: 0;
  }
}

@media screen and (min-width: 20em) {
  /*320pxpx*/
  .about-headline {
    font-size: 5rem;
    padding: 5rem 2rem 0rem 2rem;
  }
  .about-desc {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 30em) {
  /*480px*/
  .about-headline {
    font-size: 6rem;
  }
  .about-desc {
    padding-top: 3rem;
  }
}

@media screen and (min-width: 37.5em) {
  /*600px*/
  .about-headline {
    font-size: 7.5rem;
  }
  .about-card svg {
    margin: 3rem 0rem;
  }
  .about-desc {
    font-size: 2rem;
    padding-top: 0rem;
    line-height: 3.3rem;
  }
}

/*768px*/
/* @media screen and (min-width: 48em) {
  .about-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .about-desc {
    width: 80%;
    margin-top: 8rem;
  }
  .about-card svg {
    height: 45vh;
  }
} */

@media screen and (min-width: 64em) {
  /*1024px*/
  .about-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .about-desc {
    width: 80%;
    margin-top: 8rem;
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
  .about-card svg {
    height: 45vh;
  }
  .about-headline {
    font-size: 8rem;
  }
}

@media screen and (min-width: 90em) {
  /*1440px*/
  .about-headline {
    font-size: 9.5rem;
  }
  .about-desc {
    line-height: 3.2rem;
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 102.5em) {
  /*1640px*/
  .about-headline {
    font-size: 11.5rem;
  }
  .about-desc {
    line-height: 3.7rem;
    font-size: 2.6rem;
  }
}
